html,body{
    margin: 0;
}

header{
    display: flex;
    background: #f55a5a;
    align-items: center;
    justify-content: center;
    color: white;
    height: 55px;
}

header img{
    height: 50px;
    width:fit-content;
    margin-right: 10px;
}